<div id="<%= dom_id bookmark %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= bookmark.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Url:</strong>
    <%= bookmark.url %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= bookmark.description %>
  </div>
  <% if bookmark.tags.any? %>
    <div class="flex flex-wrap gap-2">
      <% bookmark.tags.sort_by(&:name).each do |tag| %>
        <%= link_to tag.name, bookmarks_path(tag: tag.name), class: "text-xs font-medium bg-blue-50 text-blue-700 rounded-full px-2.5 py-1 hover:bg-blue-100" %>
      <% end %>
    </div>
  <% end %>
</div>
