<% content_for :title, "Sign in" %>

<div class="mx-auto w-full max-w-md">
  <h1 class="font-bold text-3xl">Sign in</h1>

  <%= form_with url: session_url, class: "contents" do |form| %>
    <div class="my-5">
      <%= form.label :email_address, class: "block text-sm font-medium" %>
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "you@example.com", value: params[:email_address], class: input_classes %>
    </div>

    <div class="my-5">
      <%= form.label :password, class: "block text-sm font-medium" %>
      <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72, class: input_classes %>
    </div>

    <div class="sm:flex sm:items-center sm:gap-4">
      <%= form.submit "Sign in", class: "w-full sm:w-auto #{button_classes(:primary)}" %>

      <div class="mt-4 text-sm text-zinc-500 dark:text-zinc-400 sm:mt-0">
        <%= link_to "Forgot password?", new_password_path, class: "underline hover:no-underline" %>
        <% if signups_enabled? %>
          <span class="mx-1">·</span>
          <%= link_to "Sign up", new_registration_path, class: "underline hover:no-underline" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
